.about-page {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .about-page h2 {
    font-size: 2.5rem;
    margin-top: 0;
  }
  
  .about-page h3 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  .about-page ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .about-page li {
    margin-bottom: 0.5rem;
  }
  
  .about-page p {
    margin-bottom: 1.5rem;
  }
  